@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 'Amatica SC', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fdfdfd;
}

header {
  background-color: #f473b3;
  padding: 1em 0;
  text-align: center;
}

img.float-left {
  display: none;
}

img.float-right {
  display: none;
}

h1 {
  color: white;
  font-size: 2.8em;
  text-align: center;
  margin: 0;
  padding-bottom: .8em;
  text-shadow: 2px 2px 5px black;
  display: inline-block;
}

ul.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow: hidden;
  display: none;
  background-color: white;
}

.nav-check:checked ~ ul.nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 40px;
}

.nav-label img {
  display: block;
  width: 100%;
  float: left;
}

.nav-check {
  position: absolute;
  top: -3em;
}

nav li {
  display: inline-block;
  float: left;
  width: 49.5%;
  margin-top: 1px;
  margin-left: 1px;
  background-color: #01a2be;
  padding: .3em;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: white;
}

nav li:hover {
  background-color: #ffe85a;
  color: #01a2be;
  transition: background-color .35s, color .35s;
  cursor: pointer;
}

.banner {
  background-color: white;
}

.banner-content {
  text-align: left;
  width: 100%;
  background-color: #f473b3;
  padding: 1em;
  cursor: pointer;

}

.banner-content:hover {
  opacity: .5;
  transition: opacity .30s;
}

.banner-content h2 {
  font-family: "Amatica SC", sans-serif;
  color: white;
  font-size: 1.5em;
  text-shadow: 2px 2px 5px black;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.banner-content p {
  margin: 0;
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: .8em;
  text-decoration: none;
}

section.about {
  width: 95%;
  margin: 0 auto;
  box-shadow: 2px 2px 5px grey;
}

div.body-about {
  padding: 1em;
  margin: 1em;

  text-align: center;
  background-color: white;
}

.about h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5em;
  text-align: left;
}

.about p {
  font-family: 'Playfair Display', serif;
  font-size: .9em;
  color: #f473b3;
  text-align: left;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #f473b3;
  border: 3px solid #f473b3;
  border-radius: 8px;
  text-decoration: none;
  padding: .4em .75em .3em;
  font-size: 1.125rem;
}

.btn:hover {
  background-color: white;
  color: black;
  transition: background-color .35s, color .35s;
}

section.learn {
  width: 95%;
  margin: 0 auto;
  padding: 1em;
  box-shadow: 2px 2px 5px grey;
}

.learn h2 {
  font-size: 2.5rem;
  margin: 0;
}

ul.people {
  padding: 0;
  list-style-type: none;
}

li.card-one {
  margin: .5em 2em;
  border: 3px solid #01a2be;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 5px #006374;
}

.carl {
  width: 100px;
  display: block;
  padding-top: 1em;
  margin: 0 auto;
}

div.card-body {
  margin: .4em;
}

.card-body strong {
  font-size: 2rem;
  padding-left: .7rem;
}

.card-body small {
  padding-left: .7rem;
  font-size: 1.4em;
}

.card-body p:first-child {
  font-family: 'Amatica SC', sans-serif;
  color: black;
  margin: 0;
}

.card-body p:last-child {
  margin: 0;
  padding-left: 10px;
  padding-bottom: 1rem;
  font-family: 'Playfair Display', serif;
  color: #f473b3;
}

section.products {
  width: 95%;
  margin: 0 auto;
  box-shadow: 2px 2px 5px grey
}

ul.prod-list {
  list-style-type: none;
  padding: 1em;
  text-align: center;
  background-color: white;
}

li.prod-btn {
  display: inline-block;
  position: relative;
  width: 31%;
}

img.prod {
  width: 100%;
  border-radius: 7px;
}

.btn-content h3 {
  color: white;
  font-size: 1.5em;
  margin: 0;
  display: inline-block;
  width: 90%;
  position: absolute;
  bottom: .8em;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 2px 2px 5px black;
  text-align: center;
}

.prod-btn:hover {
  opacity: 0.5;
  transition: opacity .35s;
}

section.location {
  width: 95%;
  margin: 0 auto;
  box-shadow: 2px 2px 5px grey;
}

.location-info {
  padding: 1em;
  margin: 1em;
}

.location h2 {
  font-size: 2.5em;
  margin: 0;
}

.location p{
    font-family: 'Playfair Display', serif;
    color: #f473b3;
}

.img-store {
  width: 100%;
}

.location-fig {
  margin: 0;
}

.store h2 {
  text-align: center;
  background-color: #01a2be;
  color: white;
  font-size: 2.5em;
  padding: .6em 0;
}

.store a {
  text-decoration: none;
}

.store h2:hover {
  background-color: #ffe85a;
  transition: background-color .35s, color .35s;
}

ul.review-card {
  list-style-type: none;
  padding: 0;
  max-width: 375px;
  margin: 0 auto;
  }

.review-card li {
  border: 1px solid grey;
  margin: .5em 2em;
  background-color: white;
  box-shadow: 2px 2px 5px grey;
}

.joy {
  width: 100px;
  float: left;
  top: 0;
  display: inline-block;
  margin: 1em;
}

.one strong {
  color: black;
  font-size: 3rem;
  margin-top: 5em;
  }

img.star {
  float: left;
  width: 40%;
  margin-bottom: 1em;
  display: block;
}

.rev-head {
  margin: 1em;
  margin-top: 2em;
  margin-bottom: 3em;
}

.rev-body p {
  color: black;
  font-family: 'Playfair Display', serif;
  margin: 1em;
  display: block;
}

.two strong {
  font-size: 2.5rem;
}

footer {
  background-color: #f473b3;
  text-align: center;
  display: block;
  padding: 1em;
}

ul.social-media {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.social-media li {
  display: inline-block;
}

img.sm-icon {
  float: left;
  width: 40px;
  margin: .3em;
}

img.sm-icon:hover {
  opacity: .5;
  transition: opacity .35s;
}

ol.btm-nav {
  padding: 0;
  list-style-type: none;
    padding: .2em;
    text-align: center;
    display: inline-block;
    width: 95%;
    margin: 0;
}

.btm-nav li {
  float: left;
  width: 16%;
  margin: 0.3em;
  display: inline

}

.btm-nav a {
  color: white;
  text-decoration: none;
}

.btm-nav a:hover {
  color: #ffe85a;
}

footer small {
  color: white;
}

@media only screen and (min-width: 25em) {

  html {
    size: 100%;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  ul.nav {
    display: block;
  }

  .nav-label img {
    display: none;
  }

  img.float-left {
    display: inline;
    float: left;
    width: 80px;
    margin: 1em;
  }

  img.float-right {
    display: inline;
    float: right;
    width: 80px;
    margin: 1em;
  }

  .banner {
    position: relative;

  }

  .banner-content {
    position: absolute;
    bottom: 0;
  }
